a.logo{
    display:block;
    position:absolute;
    width:193px;
    height:61px;
    margin-top:55px;
    margin-left:-460px;
    z-index:1000;
    cursor:pointer;
    left:50%;
}
.copyright{
    display:inline-block;
}