/* CSS file */
.appMain {
    paddingLeft: 30;
    paddingTop: 0;
    paddingRight: 30;
    horizontalGap: 0;
    verticalGap: 0;
    fontFamily: "Arial,Verdana";
    fontSize: 12;

}

.topControlBar {
    backgroundColor: #274055;
}

.logoImage {
    paddingBottom: 28;
    paddingTop: 34;
    paddingLeft: 0;
    paddingRight: 0;
}

.panelButtons {
    borderStyle: solid;
    borderColor: #cccccc;
    cornerRadius: 0;
    backgroundColor: #ffffff;
    paddingBottom: 3;
    paddingTop: 3;
    paddingLeft: 10;
    paddingRight: 0;
}

.panelSearch {
    paddingBottom: 5;
    paddingTop: 5;
    paddingLeft: 0;
    paddingRight: 0;
}

.pageOut {
    borderThicknessBottom: 0;
    borderThicknessLeft: 0;
    borderThicknessRight: 0;
    borderThicknessTop: 0;
    paddingBottom: 0;
    paddingTop: 0;
    paddingLeft: 0;
    paddingRight: 0;
    backgroundAlpha: 0;
}

.listLinkComponents {
    horizontalAlign: right;
    cornerRadius: 0;
    marginLeft: 0;
    marginRight: 0;
    marginTop: 0;
    marginBottom: 0;
    upIcon: Embed(source = "components.gif");
    overIcon: Embed(source = "components.gif");
    downIcon: Embed(source = "components.gif");
    skin: ClassReference(null);
}

.listLinkConfig {
    horizontalAlign: right;
    cornerRadius: 0;
    marginLeft: 0;
    marginRight: 0;
    marginTop: 0;
    marginBottom: 0;
    paddingLeft: 0;
    paddingTop: 0;
    paddingRight: 0;
    paddingBottom: 0;
    upIcon: Embed(source = "configuration.png");
    overIcon: Embed(source = "configuration.png");
    downIcon: Embed(source = "configuration.png");
}
.listLinkCompTypes {
    horizontalAlign: right;
    cornerRadius: 0;
    marginLeft: 0;
    marginRight: 0;
    marginTop: 0;
    marginBottom: 0;
    paddingLeft: 0;
    paddingTop: 0;
    paddingRight: 0;
    paddingBottom: 0;
    upIcon: Embed(source = "componentTypes.png");
    overIcon: Embed(source = "componentTypes.png");
    downIcon: Embed(source = "componentTypes.png");
    skin: ClassReference(null);
}
.listLinkLibTypes {
    horizontalAlign: right;
    cornerRadius: 0;
    marginLeft: 0;
    marginRight: 0;
    marginTop: 0;
    marginBottom: 0;
    paddingLeft: 0;
    paddingTop: 0;
    paddingRight: 0;
    paddingBottom: 0;
    upIcon: Embed(source = "libraryTypes.png");
    overIcon: Embed(source = "libraryTypes.png");
    downIcon: Embed(source = "libraryTypes.png");
    skin: ClassReference(null);
}

.listLinkSub {
    skin: ClassReference(null);
    color:#0054a6;
}

.listLinkLibraries {
    horizontalAlign: left;
    backgroundSize: "100%";
    cornerRadius: 0;
    cornerRadius: 0;
    marginLeft: 0;
    marginRight: 0;
    marginTop: 0;
    marginBottom: 0;
    upIcon: Embed(source = "libraries.gif");
    overIcon: Embed(source = "libraries.gif");
    downIcon: Embed(source = "libraries.gif");
    skin: ClassReference(null);
}

.listLinkLicenses {
    horizontalAlign: left;
    backgroundSize: "100%";
    cornerRadius: 0;
    cornerRadius: 0;
    marginLeft: 0;
    marginRight: 0;
    marginTop: 0;
    marginBottom: 0;
    upIcon: Embed(source = "licenses.gif");
    overIcon: Embed(source = "licenses.gif");
    downIcon: Embed(source = "licenses.gif");
    skin: ClassReference(null);
}
.panelStyle {
    paddingLeft: 25;
    paddingRight: 25;
    paddingTop: 20;
    paddingBottom: 20;
    borderStyle: applicationControlBar;
    fillColors: #e0edf2, #ffffff;
    fillAlphas: 0.7, 0.7;
    highlightAlphas: 0, 0;
}

.applicationControlBar {
    fillColors: #000000, #ffffff;
}

.listLinkAdd {
    horizontalAlign: left;
    backgroundSize: "100%";
    cornerRadius: 0;
    skin: ClassReference(null);
    color: #0054A6;
    upIcon: Embed(source = "addComponent.png");
    overIcon: Embed(source = "addComponent.png");
    downIcon: Embed(source = "addComponent.png");
    horizontalGap: 4;
    fontWeight: normal;
    paddingTop: 3;
    paddingBottom: 3;
}

.listLinkBack {
    horizontalAlign: left;
    backgroundSize: "100%";
    cornerRadius: 0;
    skin: ClassReference(null);
    color: #0054A6;
    upIcon: Embed(source = "back.png");
    overIcon: Embed(source = "back.png");
    downIcon: Embed(source = "back.png");
    horizontalGap: 4;
    fontWeight: normal;
    paddingTop: 3;
    paddingBottom: 3;
}

.listLinkType {
    horizontalAlign: left;
    backgroundSize: "100%";
    cornerRadius: 0;
    skin: ClassReference(null);
    color: #0054A6;
    upIcon: Embed(source = "addtype.png");
    overIcon: Embed(source = "addtype.png");
    downIcon: Embed(source = "addtype.png");
    horizontalGap: 4;
    fontWeight: normal;
    paddingTop: 3;
    paddingBottom: 3;
}

.listLinkDelete {
    horizontalAlign: left;
    backgroundAlpha: "0";
    backgroundSize: "100%";
    cornerRadius: 0;
    color: #0054A6;
    upIcon: Embed(source = "delete.gif");
    overIcon: Embed(source = "delete.gif");
    downIcon: Embed(source = "delete.gif");
    horizontalGap: 4;
    paddingLeft: 5;
    fontWeight: normal;
    paddingTop: 0;
    paddingBottom: 0;
}

.listLinkEdit {
    horizontalAlign: left;
    backgroundSize: "100%";
    backgroundAlpha: "0";
    cornerRadius: 0;
    color: #0054A6;
    upIcon: Embed(source = "edit.gif");
    overIcon: Embed(source = "edit.gif");
    downIcon: Embed(source = "edit.gif");
    horizontalGap: 4;
    paddingLeft: 15;
    fontWeight: normal;
    paddingTop: 0;
    paddingBottom: 0;
}
.listLinkNormal {
    horizontalAlign: left;
    backgroundSize: "100%";
    backgroundAlpha: "0";
    cornerRadius: 0;
    color: #0054A6;
    horizontalGap: 4;
    paddingLeft: 0;
    paddingRight: 20;
    fontWeight: normal;
    paddingTop: 0;
    paddingBottom: 0;
}
.listLinkView {
    horizontalAlign: left;
    backgroundAlpha: "0";
    backgroundSize: "100%";
    cornerRadius: 0;
    color: #0054A6;
    upIcon: Embed(source = "files.png");
    overIcon: Embed(source = "files.png");
    downIcon: Embed(source = "files.png");
    horizontalGap: 4;
    paddingLeft: 0;
    fontWeight: normal;
    paddingTop: 0;
    paddingBottom: 0;
}
.headingText {
    color: #000000;
    fontSize: 20;
}

.formSubTitle {
    color: #5c5c5c;
    fontWeight: bold;
    fontSize: 15;
}

.panelBox {
    cornerRadius: 0;
    borderColor: #B4D5F0;
    backgroundColor: #ffffff;
    paddingLeft: 10;
    paddingRight: 10;
    paddingTop: 10;
    paddingBottom: 10;
    marginBottom: 30;
    borderAlpha: 0.5;
    backgroundAlpha: 0.5;
    titleStyleName: "panelBoxTitle";
    fontSize: 12;
}

.panelBoxTitle {
    color: #404040;
    fontWeight: bold;
    fontSize: 16;

}

.contentPanes {
    paddingLeft: 10;
    paddingTop: 0;
    paddingRight: 0;
    paddingBottom: 0;
}

.content {
    marginTop: 50;
    marginLeft: 50;
}

.footer {
    marginTop: 20;
    color: #404040;
    backgroundColor: #e1e1e1;
}

.gridPane {
    headerColors: #B4D5F0, #B4D5F0;
    borderColor: #5190CD;
    verticalGridLineColor: #5190CD;
    headerStyleName: "datagridHead";
    selectionColor: #B4D5F0;
}

.datagridHead {
    paddingTop: 5;
    paddingBottom: 5;
    fontSize: 13;
}

.formArea {
    paddingLeft: 10;
    paddingTop: 0;
    paddingRight: 0;
    paddingBottom: 0;
}

.formDiv {
    strokeWidth: 1;
    strokeColor: #4b80a9;
}

.linkButtonStyle {
    color: #0072B8;
    fontWeight: "normal";
}

.formLabel {
    textAlign: left;
}

.gaplessForm {
    paddingLeft: 0;
    paddingTop: 0;
    paddingRight: 0;
    paddingBottom: 0;
}

DataGridColumn {
    paddingLeft: 10;
}

.footerBorder {
    borderTopColor: #cccccc;

}

.detailLeft {
    fontWeight: bold;
}

.urlStyle {
    paddingLeft: 0;
    paddingTop: 0;
    paddingRight: 0;
    paddingBottom: 0;
    color: #0054A6;
    fontWeight: "normal";
}

.helpText {
    color: #9c9c9c;
    textDecoration: "italic";
}

.formLabel {
    labelWidth: 100;
}
.disabledText{
    backgroundColor:#f0f0f0;
}
.enabledText{
    backgroundColor:#ffffff;
}
.importantText{
    fontWeight:"bold";
}