/* ---------------- template styles ------------------------- */

table#main-table td#header {
	background-image: url( ../images/mashup-header-region-bg.gif);
}

table#main-table td#menu-panel {
	border-right: solid 1px #C5533E;
}
	

/* ---------------- header styles ------------------ */
div#header-div {
    background-image: url( ../images/mashup-header-bg.gif);
}

div#header-div div.left-logo {
	background-image: url( ../images/mashup-header-logo.gif );
}

div#header-div div.right-logo {
	background-image: url( ../images/mashup-mgt-logo.gif);
	color: #B5121B;
} 

/* ------------- menu styles ---------------------- */
div#menu {
}

div#menu ul.main {
}

div#menu ul.main li {
}

div#menu ul.main li.normal {
}

div#menu ul.main li a.menu-home {
	color: #B5121B;
    background-image: url(../images/mashup-home-bg.gif);
}

div#menu ul.main li a.menu-home:hover {
	color: #f47b20;
	background-image: none;
	background-color: #F1D3C6;
}

div#menu ul.main li.menu-header {
}

div#menu ul.main li a.menu-default {
}

div#menu ul.main li a.menu-default:hover {
	background-color: #F9ECE7;
	border-bottom: solid 1px #EABBAA;
	border-top: solid 1px #EABBAA;
	color: #00447C;
}

div#menu ul.sub {
} 

/* -------------- child no-01 styles -------------- */

div#menu ul.sub li.normal {

}

div#menu ul.sub li a.menu-default {
} 

/* ----------- child no-01 (disabled) styles ------------------- */
	
div#menu ul.sub li a.menu-disabled-link {
	}
	
	div#menu ul.sub li a.menu-disabled-link:hover {
	} 

/* -------------- child no-02 styles -------------- */

div#menu ul.sub li.normal ul.sub li a.menu-default {

}

/* -------------- child no-03 styles -------------- */

div#menu ul.sub li.normal ul.sub li.normal ul.sub li a.menu-default {
}

/* ------------- footer styles -------------------- */

div#footer-div div.footer-content div.poweredby {
	background-image: url( ../images/axis2-powered.gif);
}

/* ---- login styles ----- */


/* --------------- table styles -------------------- */

.tableOddRow{background-color: white;}
.tableEvenRow{background-color: #eeeffb;}

.button:hover{
	/*background-image:url(../images/mashup-button-bg-hover.gif);
	border:solid 1px #C5533E;*/
}

/* --------------- inner tab styles -------------------- */

div#editor ul.user li {
   display: inline;
}

div#editor ul.user li a {
   background-image: url(../images/gradient-tab.gif);
   display: inline;
   font-size: 10px;
   height: 20px;
   margin-left: 8px;
   padding: 4px 2px 2px 8px;
}

div#editor div.tab-right {
   background-image: url(../images/gradient-tab-right.gif);
   background-repeat: no-repeat;
   display: inline;
   font-size: 10px;
   height: 20px;
   margin-left: -7px;
   padding: 4px 0 3px;
}

/* --------------- iframe styles -------------------- */

.panel {
    /*border: solid 1px black;*/
    background-color: white; /* padding: 5px;*/
    height: 95%;
    width: 100% !important;
    *width: 99% !important;
    clear: left;
    border-top: 3px solid #BDBEC0;
}

.panel iframe {
    height: 500px !important;
    width: 100% !important;
    overflow-x: auto;
    overflow-y: auto;
    _overflow-x: scroll;
    _overflow-y: scroll;
}

/* --------------- scraping assistant drop-down menu styles -------------------- */

div.yuimenu li.selected, div.yuimenubar li.selected {
    background-color: #B5121B !important;
}
