<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GregTestSuite">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.core.PlatformTestManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformReportManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformExecutionManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformSuiteManager"/>
    </listeners>
    <test name="Test - GREG">
        <packages>
            <package name="org.wso2.carbon.registry.resource.test" />
            <package name="org.wso2.carbon.registry.permission.test" />
            <package name="org.wso2.carbon.registry.lifecycle.test" />
            <package name="org.wso2.carbon.registry.metadata.test" />
            <package name="org.wso2.carbon.registry.governance.api.test" />
            <package name="org.wso2.carbon.registry.activity.search" />
            <package name="org.wso2.carbon.registry.capp.deployment.test" />
            <package name="org.wso2.carbon.registry.app.test" />
            <package name="org.wso2.carbon.registry.search.metadata.test" />
            <package name="org.wso2.carbon.registry.version.test" />
            <!--<package name="org.wso2.carbon.registry.subscription.test" />-->
            <!--<package name="org.wso2.carbon.registry.mediatype.test" />-->
        </packages>
        <classes>
            <class name="org.wso2.carbon.registry.reporting.test.ReportingTestCase"/>
            <!--<class name="org.wso2.carbon.registry.app.test.AtomFeedTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.CommentTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.ContinuousOperationsTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.RatingTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.RenameTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.ResourceHandlingTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.TestAssociationTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.TestCopyTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.TestMoveTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.TestPathsTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.TestResourcesTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.TestTaggingTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.VersionHandlingTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.WsdlImportTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.PropertiesTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.app.test.ContentStreamTestCase"/>-->

            <class name="org.wso2.carbon.registry.app.test.FileSystemImportExportTestCase"/>
            <!--<class name="org.wso2.carbon.registry.app.test.TestQueryTestCase"/>-->

        </classes>
    </test>
</suite>