#layout-base{
    width:970px;margin:-15px auto !important;
}
.menu-content{
    width:970px;margin:0 auto !important;
}
footer{
    width:990px;margin:20px auto 5px !important;
}
div#newDoc div.name-column{
    padding-right:20px;
}
div#newDoc div.ieFix{
    width:10px;
}
div#header  div.container-fluid{
    width:970px;margin:0 auto !important;
}