<html>
<head>
    <script type="text/javascript" src="../utils/globals.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../utils/util.js.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../controllers/gadgetController.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../utils/globals.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../utils/globals.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../utils/globals.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../utils/globals.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../utils/globals.js" charset="UTF-8"></script>

</head>
<body></body>
</html>