<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.core.PlatformTestManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformReportManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformExecutionManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformSuiteManager"/>
    </listeners>


    <test name="Test -Call mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.call.CallTemplateMediatorParamsWithValuesTestCase"/>
            <class name="org.wso2.carbon.mediator.test.call.CallTemplateMediatorSample750TestCase"/>
            <class name="org.wso2.carbon.mediator.test.call.CallTemplateMediatorSample751TestCase"/>
            <class name="org.wso2.carbon.mediator.test.call.CallTemplateWithValuesAndExpressionTestCase"/>
            <class name="org.wso2.carbon.mediator.test.call.FuncCallWithoutParamsTest"/>
        </classes>
    </test>


    <test name="Test -Call out mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.callOut.SourceXpathTargetXpath"/>
            <class name="org.wso2.carbon.mediator.test.callOut.XpathCallWithoutNSTest"/>
        </classes>
    </test>

    <test name="Test - Class mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.classMediator.ClassMediatorLoadPropertiesAndMediate"/>
            <class name="org.wso2.carbon.mediator.test.classMediator.ClassMediatorLoadPropertiesAndMediate"/>
        </classes>
    </test>

    <test name="Test - Clone mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.clone.CloneBurstTestCase"/>
            <class name="org.wso2.carbon.mediator.test.clone.CloneClient"/>
            <class name="org.wso2.carbon.mediator.test.clone.CloneLargeMessageTestCase"/>
            <class name="org.wso2.carbon.mediator.test.clone.CloneMediatorAnonymousEndpointsTestCase"/>
            <class name="org.wso2.carbon.mediator.test.clone.CloneMediatorEndpointsTestCase"/>
            <class name="org.wso2.carbon.mediator.test.clone.CloneMediatorNamedEndpointsTestCase"/>
            <class name="org.wso2.carbon.mediator.test.clone.CloneMediatorSequenceTestCase"/>
        </classes>
    </test>

    <test name="Test - Route mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.conditionalRouter.ConditionalRouterMediatorTest"/>
        </classes>
    </test>

    <test name="Test - Enrich mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichByGetPropertyCase"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichByOMTextTestCase"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorAddPropertyAsChildTest"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorAddPropertyAsSiblingTest"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorFollowedByEnrichMediatorTestCase"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorReplaceBodyWithInline"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorReplaceBodyWithInlineTestCase"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorReplaceEnvelopeTestCase"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorReplaceInlineContentFromConfigRegistryTestCase"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorSample15TestCase"/>
            <class name="org.wso2.carbon.mediator.test.enrich.EnrichMediatorSiblingsTest"/>
        </classes>
    </test>

    <test name="Test - Drop mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.drop.DropMediatorTest"/>
        </classes>
    </test>

    <test name="Test - Filter mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.filter.FilterMediatorTest"/>
        </classes>
    </test>
    <test name="Test - handler mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.header.Sample100TestCase"/>
            <class name="org.wso2.carbon.mediator.test.header.Sample6TestCase"/>
            <class name="org.wso2.carbon.mediator.test.header.SetHeaderActionTestCase"/>
            <class name="org.wso2.carbon.mediator.test.header.SetHeaderToTestCase"/>
        </classes>
    </test>

    <test name="Test - in mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.in.InSequenceMediatorTest"/>
        </classes>
    </test>

    <test name="Test - iterate mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.iterate.IterateLargeMessageTestCase"/>
            <class name="org.wso2.carbon.mediator.test.iterate.IterateSmallMessageTestCase"/>
        </classes>
    </test>

    <test name="Test - Log mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.log.LogMediatorLevelTest"/>
        </classes>
    </test>

    <test name="Test - payload mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.payload.factory.Sample17TestCase"/>
            <class name="org.wso2.carbon.mediator.test.payload.factory.TransformPayloadWhenNoArgsTestCase"/>
            <class name="org.wso2.carbon.mediator.test.payload.factory.TransformPayloadWhenArgsValueTestCase"/>
            <class name="org.wso2.carbon.mediator.test.payload.factory.TransformPayloadWhenArgsValueAndExpressionTestCase"/>
            <class name="org.wso2.carbon.mediator.test.payload.factory.TransformPayloadWhenArgsExpressionTestCase"/>
        </classes>
    </test>


    <test name="Test - Property mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.property.PropertyMediatorTest"/>
        </classes>
    </test>

    <test name="Test - rule mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.rule.RuleMediatorTestSample603"/>
        </classes>
    </test>


    <test name="Test - Script mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.script.CustomMediatorWithJSStoredInRegistryTestCase"/>
            <class name="org.wso2.carbon.mediator.test.script.InlinedFunctionTest"/>
            <class name="org.wso2.carbon.mediator.test.script.InvalidFunctionTestCase"/>
            <class name="org.wso2.carbon.mediator.test.script.InvalidScriptLanguageTestCase"/>
            <class name="org.wso2.carbon.mediator.test.script.InvokeScriptWithDynamicKeyTestCase"/>
            <class name="org.wso2.carbon.mediator.test.script.ScriptMediatorInvokeJsScriptFunction"/>
            <class name="org.wso2.carbon.mediator.test.script.ScriptMediatorRetrieveScriptFromConfig"/>
            <class name="org.wso2.carbon.mediator.test.script.ScriptWithIncludeOptionTestCase"/>
            <class name="org.wso2.carbon.mediator.test.script.SequenceWhichHasJsFunctionsForBothInOutTestCase"/>
            <class name="org.wso2.carbon.mediator.test.script.UploadJsScriptTest"/>
        </classes>
    </test>
    <test name="Test - Send mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.send.SendMediatorEndpointAtConfigRegistryTestCase"/>
            <class name="org.wso2.carbon.mediator.test.send.SendMediatorTest"/>
        </classes>
    </test>

    <test name="Test - Switch mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.switchMediator.InvalidPrefixTestCase"/>
            <class name="org.wso2.carbon.mediator.test.switchMediator.InvalidXPathSynapseConfigTestCase"/>
            <class name="org.wso2.carbon.mediator.test.switchMediator.Sample2TestCase"/>
            <class name="org.wso2.carbon.mediator.test.switchMediator.SOAPNSBasedSwitching"/>
            <class name="org.wso2.carbon.mediator.test.switchMediator.SOAPNSBasedSwitchingNegativeCase"/>
            <class name="org.wso2.carbon.mediator.test.switchMediator.SwitchingBasedOnAddressTestCase"/>
            <class name="org.wso2.carbon.mediator.test.switchMediator.WithoutDefaultCase"/>
        </classes>
    </test>


    <test name="Test - ESB">
        <classes>
            <class name="org.wso2.carbon.mediator.test.callOut.SourceXpathTargetXpath"/>
        </classes>
    </test>


    <test name="Test - Mediator fault" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.fault.CustomErrorMessageTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.MakeFaultMediatorTest"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultStringValueTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultStringExpressionTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultCodeVersionMismatchedTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultCodeMustUnderstandTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultCodeClientTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultCodeServerTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultActorTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultDetailsTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultDetailAsElementTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultFullTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultOutSequenceTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultWithAttributeResponseTrueTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap11FaultWithAttributeResponseFalseTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultStringValueTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultStringExpressionTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultCodeVersionMismatchedTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultCodeMustUnderstandTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultCodeDataEncodingUnknownTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultCodeReceiverTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultCodeSenderTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultActorTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultDetailsTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultDetailAsElementTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultNodeTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultFullTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultWithAttributeResponseTrueTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultWithAttributeResponseFalseTestCase"/>
            <class name="org.wso2.carbon.mediator.test.fault.Soap12FaultOutSequenceTestCase"/>

        </classes>
    </test>


    <test name="Test - Mediator XQuery" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryMediatorTestCase"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQuerySample391"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustom"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustomVariableAsString"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustomVariableAsByte"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustomVariableAsInteger"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustomVariableAsInt"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustomVariableAsBoolean"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustomVariableAsFloat"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustomVariableAsDouble"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryCustomVariableAsLong"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryReplaceEmptyMessageBody"/>
            <class name="org.wso2.carbon.mediator.test.xquery.XQueryTransformationInSideXQueryMediatorTestCase"/>

        </classes>
    </test>

    <test name="Test - Mediator Payload Factory" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.payload.factory.Sample17TestCase"/>
            <class name="org.wso2.carbon.mediator.test.payload.factory.TransformPayloadWhenNoArgsTestCase"/>
            <class name="org.wso2.carbon.mediator.test.payload.factory.TransformPayloadWhenArgsValueTestCase"/>
            <class name="org.wso2.carbon.mediator.test.payload.factory.TransformPayloadWhenArgsExpressionTestCase"/>
            <class name="org.wso2.carbon.mediator.test.payload.factory.TransformPayloadWhenArgsValueAndExpressionTestCase"/>

        </classes>
    </test>

    <test name="Test - Mediator xslt" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.xslt.InLineLocalEntryXsltTransformationTestCase"/>
            <class name="org.wso2.carbon.mediator.test.xslt.FileSystemLocalEntryXsltTransformationTestCase"/>
            <class name="org.wso2.carbon.mediator.test.xslt.RegistryEntryXsltTransformationTestCase"/>
            <class name="org.wso2.carbon.mediator.test.xslt.XsltTransformationWithPropertyTestCase"/>
            <class name="org.wso2.carbon.mediator.test.xslt.XsltTransformationFromUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.test.xslt.DynamicKeyXsltTransformationTestCase"/>

        </classes>
    </test>

    <test name="Test - Mediator - rewrite" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.test.rewrite.Sample450"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.Sample451"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.Sample452"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.ProtocolReWriteTest"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.ProtocolReWriteFromProperty"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.UrlReWriteByPort"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.UrlReWriteByHost"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.UrlReWriteByContext"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.ReWriteFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.RemoveReWriteHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.RemoveReWriteProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.RemoveReWritePortTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.RemoveReWritePathTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.RemoveReWriteFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.AppendProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.AppendHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.AppendPortTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.AppendPathTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.AppendFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.PrependProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.PrependHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.PrependPortTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.PrependPathTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.PrependFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.SetProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.SetPortTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.SetHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.SetPathTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.SetFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.test.rewrite.SetFullUrlWhenNoAddressingUrlTestCase"/>
        </classes>
    </test>
</suite>
