<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Command line suite">
    <test name="ESBTestServer" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.esb.integration.ESBTestServerManager"/>
        </classes>
    </test>

    <test name="Test - Mediator fault" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.fault.CustomErrorMessageTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.fault.MakeFaultMediatorTest"/>

        </classes>
    </test>
    <test name="Test - Mediator XQuery" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryMediatorTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQuerySample391"/>
            <class name="org.wso2.carbon.mediator.tests.xquery.XQueryCustom"/>

        </classes>
    </test>
    <test name="Test - Mediator - rewrite" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.rewrite.Sample450"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.Sample451"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.Sample452"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.ProtocolReWriteTest"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.ProtocolReWriteFromProperty"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.UrlReWriteByPort"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.UrlReWriteByHost"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.UrlReWriteByContext"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.ReWriteFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWriteHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWriteProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWritePortTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWritePathTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.RemoveReWriteFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendPortTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendPathTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.AppendFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependPortTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependPathTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.PrependFullUrlTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetProtocolTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetPortTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetHostNameTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetPathTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.rewrite.SetFullUrlTestCase"/>

        </classes>
    </test>

    <test name="Test - Mediator Clone" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.mediator.tests.clone.CloneMediatorTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.clone.ValidSoapActionTestCase"/>
            <class name="org.wso2.carbon.mediator.tests.clone.Soap_action_with_TO_Address"/>
        </classes>
    </test>
</suite>