.copy-msg{
    margin:10px 0 10px 0;
}
.copy-msg li{
    float:right;
    margin-right:10px;
    list-style-type:none;
}
.copy-msg li a{
    color:#CDA869;
}
.follow-us{
  margin:10px 0 10px 0;
}
.follow-us li{
     float:right;
    margin-right:5px;
    list-style-type:none;
}
.icon-blog{
    background:transparent url(../images/mailList.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-twitter{
    background:transparent url(../images/twitter.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-facebook{
    background:transparent url(../images/facebook.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-rss{
    background:transparent url(../images/rss.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
footer{
    padding-bottom:20px;
    font-size:11px;
}
footer h3{
    color:#888;
    text-align:right;
}
.myFooterItemList{
    margin:10px 0;
}
.myFooterItemList li{
    list-style-type:none;
}
.thumbnail{
    line-height:20px;
    text-align:center;
}
.thumbnail a{
    cursor:pointer;
}
.thumbnail img{
    width:78px;
}
.content-section{
    padding-top:20px;
}
.brand{
    position:absolute;
}
table a{
    cursor:pointer;
}
.table th, .table td {
    font-size:12px;
}
#main-ajax-loader {
    text-align : center;
    height : 400px;
}
.requiredAstrix{
    color:red;
}
.nav .nav-header {
    font-size:13px;
}
.errorlist{
    color:#d10000;
    padding:5px 0px;
}
label.error{
    color:#d10000 !important;
    padding:5px;
}
input.error{
    border-color: rgba(228, 38, 38, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
}
.resourceTableDiv{
    padding-top:10px;
}

#copy-api {
    display: none;
}

.api-thumb {
    margin-bottom: 5px;
}

.top-spaced{
    padding-top:40px;
}
.left-spaced{
    padding-left:10px;
}