div.apple_overlay {
    background-image:url(http://static.flowplayer.org/tools/img/overlay/overlay_IE6.gif);
    color:#fff;
}

/* default close button positioned on upper right corner */
div.apple_overlay div.close {
    background-image:url(http://static.flowplayer.org/tools/img/overlay/overlay_close_IE6.gif);

}
.textbox-cell input{
    height: 11px !important;
}
.margin-override{
    margin-top:50px !important;
}
.service-store-tabs{
}