@import "jquery.ui.autocomplete.css";
.search-background{
    height:38px;
    background:transparent url(../images/search-back.png) repeat-x left top;
}
.searchBox-table{
    margin:0;
    padding:0;
    border:none;
    width:100%;
    border-collapse:collapse;

}
.searchBox-table td{
    vertical-align:middle;
    margin:0;
    padding:0;
}
.searchIcon-cell{
    background:transparent url(../images/searchIcon.png) no-repeat left top;    
    width:50px;
}
.searchIcon-dd-cell{
    width:127px;
}
#customComboText{
    border-left: solid 1px #000;
    float: left;
    height: 25px;
    line-height: 25px;
    margin-top: 7px;
    padding-left: 5px;
    cursor:pointer;
    width:90px;
    font-size:12px;
}
#customComboBtn{
    background:transparent url(../images/searchIcon-dd.png) no-repeat left top;
    width:27px;
    height:38px;
    display:block;
    cursor:pointer;
    float:right;
}
#customComboBtn:hover{
    background:transparent url(../images/searchIcon-dd-hover.png) no-repeat left top;
}
#customComboOptions{
    display: block;
    position: absolute;
}
#customComboOptions ul li{
    list-style-type:none;
    line-height:30px;
    cursor:pointer;
    border-bottom:dotted 1px #93bbc7;
    color:#06A;
    padding-left:30px;
    font-size:12px;
}
#customComboOptions ul li:hover{
    background:#07B;
    color:#fff;
}
#customComboOptions ul{
    border:solid 1px #ddd;
    background:#F7F7F7;
    margin:0;
    padding-left:0px;
    max-height:300px;
    width:145px;
    overflow-y:auto;
}

.textbox-cell, .cat-select-cell{

}
.cat-select-cell{
    width:170px;
}
.search-button-cell{
    width:50px;
}
.textbox-cell input{
   border: 1px solid #FFFFFF;
    height: 20px;
    width: 97%;
}
.textbox-cell input:focus{
    border:none;
    outline:none;
}
.search-button {
    border:none;
    text-transform:uppercase;
  width:70px;
  height:38px;
  line-height:38px;
  display:block;
  cursor:pointer;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
    background-image: -moz-linear-gradient(top, #000000, #6a6a6a);
  background-image: -ms-linear-gradient(top, #000000, #6a6a6a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#6a6a6a));
  background-image: -webkit-linear-gradient(top, #000000, #6a6a6a);
  background-image: -o-linear-gradient(top, #000000, #6a6a6a);
  background-image: linear-gradient(top, #000000, #6a6a6a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#6a6a6a', GradientType=0);
  background-repeat: repeat-x;
  *background-image:none;
  *background-color: #6a6a6a;
}
.search-button:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#6a6a6a), to(#6a6a6a));
  background: -moz-linear-gradient(top, #6a6a6a, #6a6a6a)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a6a6a, endColorstr=#6a6a6a);
}
.header-strip-search{
    margin-top:20px;
}
.rating img{
    float:left;
    margin:2px;
}
/* ------------------ cat drop down --------------------------*/
.cat-select-cell{
    padding:5px 5px 0px 0px;
}
.cat-select-cell ul {
  margin:0px;
  list-style: none;
}
.cat-select-cell ul li {
  display: block;
  position: relative;
  float: left;
}
.cat-select-cell li ul {
    display: none;
    border:solid 1px #ccc;
    background:#fff;
}
.cat-select-cell  ul li a {
  display: block;
  text-decoration: none;
  color: #666666;
  border-top: 1px solid #ffffff;
  padding: 5px 15px 5px 15px;
  margin-left: 1px;
  white-space: nowrap;
}
.cat-select-cell  ul li a:hover { background: #fff; }
.cat-select-cell  li:hover ul {
  display: block;
  position: absolute;
}
.cat-select-cell li:hover li {
  float: none;
}
.cat-select-cell  li:hover a { background: #fff; }
.cat-select-cell li:hover li a:hover { background: #fff; }