body {
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
a{
    color:#227ca9;
}
input[type=text],input[type=password]{
    border:solid 1px #b0b0b0;
    color:#6e6e6e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 32px;
    padding: 5px;
    width: 220px;
}
/* --- Button styles starts ----*/
.button{
    border:solid 1px #b0b0b0;
    background:#f3f3f3;
    padding:5px 10px;
    color:#6e6e6e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor:pointer;
}
button:hover{
    -webkit-box-shadow: 2px 2px 5px #666666;
  -moz-box-shadow: 2px 2px 5px #666666;
}
/* ------Button styles ends ------*/
/* ------Item display styles center -----*/
.button,.button:visited,.buy-button,.buy-button:visited {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    display:inline-block;
    padding:5px;
    cursor:pointer;
    font-size:11px;
}
.button:hover,.buy-button:hover {
    background-color: #0044cc;
}
.button:active,.buy-button:active {
  background-color: #003399 \9;
}

.key-genrate-button,.key-genrate-button:visited {
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 2px #666666;
  -moz-box-shadow: 0px 0px 2px #666666;
  border: solid #ffffff 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a5a5a5), to(#bcbcbc));
  background: -moz-linear-gradient(top, #a5a5a5, #bcbcbc);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#a5a5a5, endColorStr=#bcbcbc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#a5a5a5, endColorStr=#bcbcbc);
  display:inline-block; /* IE is so silly */
  cursor:pointer;
  margin-top:5px;
    text-align: center;
    width: 84px;
}
.key-genrate-button:hover {
  background: #2ac7e1;
}

.service-name{
    max-width: 147px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #414242;
    font-weight: bold;
    white-space: nowrap;
    display:block;
}
.company-name{
    color: #8E8E8E;
    font-size: 11px;
    max-width: 147px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
}
.list-item{
    float:left;
    height:110px;
    padding:20px 10px;
    width:150px;
}
.list-items{
    padding:10px 0 0 0;
}
.list-items-number {
    float:left;
    width:10%;
    font-size:22px;
    font-weight:bold;
}
.list-items-box{
    padding:5px 0 0 0;
    float:left;
    width:10%;
}
.list-items-content {
    float:right;
    width:90%;
}
.list-items-content a{
    display:block;
    cursor:pointer;
    line-height:22px;
}
.list-items-item-name{
    color: #414242;
    display: block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:12px;
}
.list-items-item-detail{
    color:#777;
}
.list-item-top{
    height:135px;
}
.thumbnail{
    border:none;
}
.thumbnaillink img{
    width:78px;
}
/* -----------Tab styles --------------*/
.service-store-tabs{
    border-bottom:solid 2px #777;
    height:30px;
}
.service-store-tabs a,.service-store-tabs li{
    list-style-type:none;
    float:left;
    position:relative;
    display:block;
    height:30px;
    padding:5px;
}
.service-store-tabs a.tab,.service-store-tabs li.tab{
   /* border-bottom: 24px solid #3D3D3D;
    border-right: 24px solid transparent;*/
    background:#3D3D3D;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    opacity: 0.35;
    padding: 5px 10px 5px 10px;
    line-height:20px;
    text-transform:capitalize;
    margin-right:2px;

    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.service-store-tabs a.tab:hover,.service-store-tabs li.tab:hover{
    background: #666666;
}
.service-store-tabs a.selected,.service-store-tabs li.selected{
    opacity: 1;
    z-index: 1;
}
 /* ----------tab styles ends ---------*/
.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  color:#fff;
  background-image: -moz-linear-gradient(top, #0088CC, #0055CC);
  background-image: -ms-linear-gradient(top, #0088CC, #0055CC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0055CC));
  background-image: -webkit-linear-gradient(top, #0088CC, #0055CC);
  background-image: -o-linear-gradient(top, #0088CC, #0055CC);
  background-image: linear-gradient(top, #0088CC, #0055CC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0055CC', GradientType=0);
  background-repeat: repeat-x;
  *background-image:none;
  *background-color: #0088CC;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.line-seperator{
   border-color: #CCCCCC;
   margin: 10px 10px 0px 10px;
}
/* ---------- Cloud styles ---------*/

.cloud{
    /*border-left:dotted 1px #b4c5d5;*/
    /*border-right:dotted 1px #b4c5d5;*/
    float: right;
}
.cloud a{
    display:block;
    float:right;
    cursor:pointer;
    padding:5px;
}
.cloud a:hover{
    color:#0d253b;
}
div.cloud-margin{
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
     /* background-color: #f5f5f5;
      border: 1px solid #eee;
      border: 1px solid rgba(0, 0, 0, 0.05);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}
div.cloud-title{
   color: #666666;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    padding: 20px 0 5px;
}
.cloud a.a24{color:#f52f52}
.cloud a.a23{color:#f52f52}
.cloud a.a22{color:#f52f52}
.cloud a.a21{color:#f86682}
.cloud a.a20{color:#f86682}
.cloud a.a19{color:#f86682}
.cloud a.a18{color:#f98097}
.cloud a.a17{color:#f98097}
.cloud a.a16{color:#f98097}
.cloud a.a15{color:#f98399}
.cloud a.a14{color:#f98399}
.cloud a.a13{color:#a7a7a7}
.cloud a.a12{color:#c4b5b9}
.cloud a.a11{color:#c4b5b9}
.cloud a.a10{color:#d4cfcb}
/*-----------Notification block----------*/
.notification{
    background-color: #F5F4F0;
    border: 1px solid #DBD8CC;
    padding:10px;
}
.notification ul{
    margin:0 0 0 -40px;
}
.notification ul li{
    list-style-type:none;
    margin:10px 0px;
    cursor:pointer;
}
.notification-margin-fix{
    margin-top:0px;
}
.news-title{
    color: #414242;
    display: block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:16px;
    cursor:pointer;
}
.date{
    color: #8E8E8E;
    font-size: 10px;
    line-height: 1;
    overflow: hidden;
    text-transform: uppercase;
}
.pagination{
    margin:10px 10px;
}
.pagination-link{
    float:right;
    cursor:pointer;
    color:#2C53A5;
}
/*---------------Comment blocks --------------*/
.comments li{
    padding:0 0 0 25px;
    background:transparent url(../images/speech-bubble.png) no-repeat left top;
}
.comment-title{
}
.comment-user{
    cursor:pointer;
    color: #2c53a5;
    font-size: 12px;
}
/*--------------Data table ----------------*/

table.dataTable {
    border-left: solid 1px #468aa6;
    border-top: solid 1px #468aa6;
    border-collapse: collapse;
    width:100%;
    margin:20px 0px;
}

table.dataTable th {
    color: #fff;
    font-size: 11px;
    text-align: left;
    padding: 3px;

    background-color:#56aed2;
    border-right: solid 1px #468aa6;
    border-bottom: solid 1px #468aa6;
}

table.dataTable td {
    border-right: solid 1px #468aa6;
    border-bottom: solid 1px #468aa6;
    margin: 0px;
    padding: 3px;
}
table.dataTable tr:nth-child(even) {background: #ccdde1}
table.dataTable tr:nth-child(odd) {background: #FFF}

/*------------- Special styles for big titles -----------*/


.title-main{
    /*font-family: 'Magra', sans-serif;*/
    font-size:28px;
    padding-bottom:5px;
    color: #666666;
}
.title{
    /*font-family: 'Stint Ultra Condensed', cursive;*/
    border: 0 none;
    margin: 20px 0 0 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    font-size:25px;
    color: #333;
}

div.special-links div.title,div.provider-actions div.title,div#service-info  div.title,div.content-box div.title{
    margin-top:0px;
    /*font-family: 'Stint Ultra Condensed', cursive;*/
    color:#666666;
    font-size:15px;
    font-weight:bold;
    padding:20px 0px 5px 0px;
}

div#service-info  div.title{
    padding:10px 0px 5px 0px;
}
div.notification div.title{
    /*font-family: 'Stint Ultra Condensed', cursive;*/
    margin-top:0px;
}
/*Auto complete styles*/
.ui-autocomplete{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-left: -68px;
    margin-top: 17px;
    padding-left:0;
    width: 300px;

    /*Rounded corners */
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: solid 1px #888888;

    /*The shadow */
    -moz-box-shadow: 3px 3px 2px #ddd;
    -webkit-box-shadow: 3px 3px 2px #ddd;
    box-shadow: 3px 3px 2px #ddd;
}


/*Search tabs*/
#searchHistory ul{
    margin:0;
    padding:0;
}
#searchHistory ul li{
    list-style-type:none;
    float:right;
    background:#cbd7e2;
    margin:5px;
    padding:5px;
}
#searchHistory ul li a.searchHistoryClose{
    display:none;
    margin-top:-35px;
    width:16px;
    height:16px;
    float:right;
}
#searchHistory ul li:hover{
    background:#87a2bc;
    color:#fff;
}
#searchHistory ul li:hover a{
    display:block;
    cursor:pointer;
}
.comment-textarea{
    width:100%;
    margin:10px 0px;
}
.comment-box{
    background:#dfe8eb;
    padding:5px;
    margin-top:20px;
}
.comment-box img{
    float:left;
    margin:5px 10px 0 0;
}
.comment-box-content{
    width:85%;
    float:right;
    line-height:25px;
}
.comment-box-content span{
    text-indent:10px;
}
.comment-box-user{
    color:#1E5689;
}
.comment-box-date{
    color:#555;
    width:85%;
    float:right;
    line-height:25px;
}
#ratingValueDisplay{
    background:transparent url(../images/bigstar.png) no-repeat left center;
    width:50px;
    height:64px;
    line-height:70px;
    padding-left:20px;
    font-weight:bold;
    font-size:20px;
    float:left;
}
.ratingDetails{
    float:left;
    padding:15px 0 0 0;
    font-weight:normal;
    line-height:20px;
}
#ratingDetails-fistRow{
    width:200px;
}
#myRatingTemp{
    padding-right:0px;
    font-weight:bold;
}
#ratingDetails-fistRow span{
    float:left;
    display:block;
    padding-right:10px;
}
.content-value{
    font-weight:normal;
}
.star-0{
    background:transparent url(../images/star-0.png) no-repeat left center;
    width:15px;
    height:14px;
    display:block;
    float:left;
    margin-top:3px;
    cursor:pointer;
}
.star-1{
    background:transparent url(../images/star-1.0.png) no-repeat left center;
    width:15px;
    height:14px;
    display:block;
    float:left;
    margin-top:3px;
    cursor:pointer;
}
#myRatingRemove{
    background:transparent url(../images/myRatingRemove.png) no-repeat left center;
    width:12px;
    height:12px;
    display:block;
    margin-top:5px;
    cursor:pointer;
    float:right;
}
#myRatingRemove:hover{
    background-image:url(../images/myRatingRemove-hover.png);
}

#main-ajax-loader {
    text-align : center;
    height : 400px;
}

#comment-ajax-loader {
    text-align : center;
    height : 50px;
}

#tryit {
    border-top : 2px solid #000000;
}

#tryit-frame {
    border-top : 1px solid #CCCCCC;
    border-left : 1px solid #CCCCCC;
    border-right : 1px solid #CCCCCC;
    width : 520px;
    height : 400px;
    margin-bottom:20px;
}

#tryit-external-link {
    color : #1E5689;
}

#tryit .new-window {
    padding : 7px 0 7px 0;
    height : 16px;
    float : right;
}
/*Horizontal data table*/
.horizontal-data{
    border-left:solid 1px #dedede;
    border-top:solid 1px #dedede;
    width:100%;
}
.horizontal-data td,.horizontal-data th{
    font-size:12px;
    border-right:solid 1px #dedede;
    border-bottom:solid 1px #dedede;
    padding:5px;
}
.horizontal-data th{
    background:#dedede;
    padding:5px;
    font-weight:bold;
    text-align:left;
}
.horizontal-data a{
    cursor:pointer;

}

/*Horizontal doc table*/
.horizontal-docs{
    border-left:solid 1px #dedede;
    border-top:solid 1px #dedede;
    width:100%;
}
.horizontal-docs td,.horizontal-docs th{
    font-size:12px;
    border-right:solid 1px #dedede;
    border-bottom:solid 1px #dedede;
    padding:5px;
}
.horizontal-docs th{
    background:#dedede;
    padding:5px;
    font-weight:bold;
    text-align:left;
}
.horizontal-docs a{
    cursor:pointer;

}
/*Horizontal sample table*/
.horizontal-sample{
    border-left:solid 1px #dedede;
    border-top:solid 1px #dedede;
    width:100%;
}
.horizontal-sample td,.horizontal-sample th{
    font-size:12px;
    border-right:solid 1px #dedede;
    border-bottom:solid 1px #dedede;
    padding:5px;
}
.horizontal-sample th{
    background:#dedede;
    padding:5px;
    font-weight:bold;
    text-align:left;
}
.myApiFilterTextBox{
    margin-top:10px;
}

#api-key-wrapper {
    display : inline;
    margin-left : 10px;
    font-weight : normal;
}

#api-key {
    font-weight : bold;
}
/* Subscription accordion sections*/
.accordion {
  margin-bottom: 18px;
}
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion-group a{
    cursor:pointer;
}
.accordion-heading {
  border-bottom: 0;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
.application-api-listing {
    display:inline-block;
    padding: 9px 16px 9px;
    margin:0 10px 10px 0;
    text-align: center;
    font-size: 14px;
    line-height: 12px;
    border: 3px solid #fff;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 255, 255)), color-stop(100%, rgb(240, 240, 240)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
}
.application-api-listing img{
    margin-bottom:10px;
    width : 48px;
}

/* Form Styles */
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .hide, .form-inline .hide, .form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label,
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  display: inline-block;
}
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on,
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on {
  vertical-align: middle;
}
.form-search .radio,
.form-inline .radio,
.form-search .checkbox,
.form-inline .checkbox {
  margin-bottom: 0;
  vertical-align: middle;
}
.control-group {
  margin-bottom: 9px;
}
legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1;
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
  display: table;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 160px;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #EEE;
    border-top: 1px solid #DDD;
}
/* Table Styles */
.table-apistore {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
    font-size:12px;
}
.table-apistore th, .table-apistore td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-apistore th {
  font-weight: bold;
}
.table-apistore thead th {
  vertical-align: bottom;
}
.table-apistore thead:first-child tr th, .table-apistore thead:first-child tr td {
  border-top: 0;
}
.table-apistore tbody + tbody {
  border-top: 2px solid #ddd;
}

.table-apistore {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-apistore th + th,
.table-apistore td + td,
.table-apistore th + td,
.table-apistore td + th {
  border-left: 1px solid #ddd;
}
.table-apistore thead:first-child tr:first-child th, .table-apistore tbody:first-child tr:first-child th, .table-apistore tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-apistore thead:first-child tr:first-child th:first-child, .table-apistore tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-apistore thead:first-child tr:first-child th:last-child, .table-apistore tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-apistore thead:last-child tr:last-child th:first-child, .table-apistore tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-apistore thead:last-child tr:last-child th:last-child, .table-apistore tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table-apistore tbody tr:hover td, .table-apistore tbody tr:hover th {
  background-color: #f5f5f5;
}
.table-apistore tbody tr:nth-child(odd) td, .table-apistore tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.template-wrapper {
    display: none;
}

#subscriptionList .element-wrapper {
    border : none;
}
.content-box{
    padding-top:20px;
}