div.star-ratings{

}
div.star-ratings img{
    display:inline-block;
}
.average-rating {
    background: url("../images/bigstar.png") no-repeat scroll 0 0 transparent;
    font-size: 20px;
    font-weight: bold;
    height: 64px;
    width:48px;
    line-height: 70px;
    padding-left: 28px;''
}

.star-0 {
    background: url("../images/star-0.png") no-repeat scroll left center transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 14px;
    margin-top: 3px;
    width: 15px;
}

.star-1 {
    background: url("../images/star-1.0.png") no-repeat scroll left center transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 14px;
    margin-top: 3px;
    width: 15px;
}

.dynamic-rating span {
   float: left;
   margin-right: 5px;
   clear:left;
}

.remove-rating {
    background: url("../images/myRatingRemove.png") no-repeat scroll left center transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 12px;
    margin-top: 5px;
    width: 12px;
}

.remove-rating:hover {
    background: url("../images/myRatingRemove-hover.png") no-repeat scroll left center transparent;
}

.documentation {
    padding: 10px;
}

.documentation hr {
    margin: 5px 0;
}

.api-documentation div.accordion-body {
    display: none;
}

.documentaion-body {
    margin-bottom: 15px;
}
.content-section{
    margin-left:15px;
}
.info-table{
    margin-top:-25px;
}
.key-generate-button{
    margin-bottom:10px;
    width:200px;
}
.key-gen-section{
    margin-bottom:10px;
}
/* Subscription accordion sections*/
.data-title{
    padding: 8px 8px 0 8px;
    background-color: #d5dadd;
    border: 1px solid #e1e1e8;
    /*Rounded corners */
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;

    /*The shadow */
    margin-top:10px;
 }
 .data-title div.row-fluid [class*="span"]{
    min-height:18px;
 }
 .data-title-heading{
     font-size:14px;
     color:#444;
     margin-bottom:5px;
     display:block;
 }
 .data-content{
    background-color: #fff;
    border:solid 1px #D5DADD;
    /*Rounded corners */
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
     margin-bottom:10px;
 }
.data-content div.item-info{
    line-height:25px;
}
.subsApiListing .row-fluid .span4{
width: 32.9%;
}
.data-content div.thumbnail div.container-fluid{
    padding:0;
}
.subsApiListing{
    padding:0 0 0 10px;
}
.subsApiListing div.container-fluid{
    padding:0;
    margin:0;
}
.thumbnailInsideLink{
    display:block;
    padding-right:10px;
}
.deprecated{
    background:#eee;
}
.deprecatedLabel{
    position:absolute;
    margin-top:-20px;
    margin-left:-20px;
}
.subscription-listing h3{
    font-size:14px;
    margin:0;
    padding:0;
}
.api-section div.row-fluid [class*="span"]{
    margin-left:0;
}
.api-section div.row-fluid{
}
.api-section div.thumbnail{
    border:solid 1px rgba(82, 168, 236, 0.8);
    padding:10px;
}
.api-section div.thumbnail:hover{
     border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.super-section{
    background:#efefef;
    border-bottom:solid 1px #ccc;
}
.super-rows, .api-section{
    padding:8px;
}
 .service-name{
     font-weight:bold;
 }
.application-api-listing {
    display:inline-block;
    padding: 9px 16px 9px;
    margin:0 10px 10px 0;
    text-align: center;
    font-size: 100%;
    line-height: 12px;
    border: 3px solid #fff;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 255, 255)), color-stop(100%, rgb(240, 240, 240)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
}
.application-api-listing img{
    height:40px;
    width:40px;
}
.application-api-listing div{
    padding-top:10px;
}
.keyListPadding{
    padding:10px;
}
.api-key-listing {
    display: inline-block;
    width:100%;
    /*background: #efefef;*/
        padding:5px;
    height:90px;
    /*background: #f3f5f6;*/
}
.api-key-sandbox{
    padding:5px;
    height:40px;
}
.api-key{
    padding:5px;
    height:40px;
    border-bottom:dotted 1px #ddd;
}
.api-key a{
}
.accordion-inner .odd {
    background: #F6F6F6;
}
#userInfoMenu{
    padding-bottom:0px;
}
#userInfoMenu a{
    color:#444 !important;
    margin-left:5px;
}
.themeSelection,.userInfoSection{
    padding:20px;
}
.themeSelection{
    width:400px;
}
.navbar .navbar-inner .nav.actions a.themeSelectionLink {
    margin:5px;
    color:#444;
}
.themeSelection a{
    color:#000;
}
#login-link{
    margin-left:0;
}
.logout-link-special{
    background:#999;
    padding:10px;
}
.icon-weal{
    background:url(../images/setting-weal.png) transparent no-repeat 0 0;
    width:16px;
    height:16px;
}
.navbar .navbar-inner .nav.actions li.settingsSection a.dropdown-toggle{
    margin-left:0px;
}
label.error{
    color:#d10000 !important;
    padding:5px;
}
input.error{
    border-color: rgba(228, 38, 38, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
}
.currentTheme{
    border:solid 2px #0099ff;
}
.themeLabel{
    border-radius:0;
}
.currentTheme a.themeLabel{
    background-color:#3A87AD;
    cursor:default;
}
.currentTheme,.currentTheme a,.currentTheme img{
    cursor:default !important;
}
.accordion-heading{
   background:#d5dadd;
}
.accordion-heading a{
    font-weight:bold;
}
.api-info div.thumbnail{
    padding:10px;
    width:100px;
}
